py-cord[voice]>=2.8.0
PyNaCl
SpeechRecognition
# discord-ext-voice-recv  # Temporarily disabled during py-cord migration
pyaudio
google-cloud-speech
Flask
waitress
gunicorn
setuptools
wheel
requests
psutil
websockets
werkzeug
click
colorama
itsdangerous
jinja2
markupsafe
typing-extensions
zipp
importlib-metadata
six
packaging
pyparsing
appdirs
ffmpy
async-timeout
aiohttp
aiosignal
attrs
charset-normalizer
frozenlist
idna
multidict
yarl
vosk
python-dotenv
pydub
numpy
