-i https://pypi.tuna.tsinghua.edu.cn/simple
discord[voice]
PyNaCl==1.5.0
SpeechRecognition==3.10.4
discord-ext-voice-recv==0.2.1a109
pyaudio
google-cloud-speech
Flask
waitress
gunicorn
setuptools
wheel
requests
psutil
websockets
werkzeug
click
colorama
itsdangerous
jinja2
markupsafe
typing-extensions
zipp
importlib-metadata
six
packaging
pyparsing
appdirs
ffmpy
async-timeout
aiohttp
aiosignal
attrs
charset-normalizer
frozenlist
idna
multidict
yarl
vosk
python-dotenv
librosa
numpy
scipy